.header-cart{
    margin: 2% 2%;
    padding: 15px 0px 15px 100px;
    background-color: #ddd;
    
}

.cart{
    margin: auto;
    width: 70%;
    text-align: center;
}

.cart table tr td{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: left;
}
.cart table tr:first-child th{
    border-top: none;
}
.cart table tr th{
    border-top: 1px solid #ddd;
    text-align: left;
}
.continue-shopping{
    margin: 0;
    padding: 0;
    text-align: left;
}
button{
    border: none;
    border-radius: 3px;
}